*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ebebff;
    
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";/* 
    font-style: bold; */
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #ebebff;
    color: #0a3871;
    opacity: 1;
}

.texto::placeholder{
color: #0a3871;
opacity: 0.5;
} 

.texto:focus, 
.texto:active{
    border: none;
    outline: none;
}

.terminos{
    /* display: flex; */
    /* direction: row; */
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
   
}

.terminos p{
    font-family: "Inter";
    /* font-style: bold; */
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: rgb(113, 114, 114);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 85%;
    font-family: "Inter";
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
}

.btn-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #1d1a74;
    border-radius: 24px;    
    text-align: center;
    color: white;
    
}

.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 25%;
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 3%;
}

.btn-encriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.btn-desencriptar:hover {
    margin-left: 3.3%;
    margin-top: 0.3%;
    margin-bottom: 0.3%;
    margin-right: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 27%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: white;
    box-shadow: 0px 24px 32px -8px rgb(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensajeEncriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 8px;
    position: absolute;
    width: 100%;
    top: 63%;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
}

.mensajeEncriptado h2{
    width: 60%;    
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #3e4041;
}


.parrafo {
    position: relative;
    left: 10%;
    top: 80%;
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    
}

.parrafo::placeholder{
    color: #1d1a74;
    opacity: 1;
}

.btn-copiar{
display: flex;
position: relative;
visibility: hidden;
justify-content: center;
top: 10%;
left: 20%;
width: 50%;
margin: 3%;
background: #1d1a74;
padding: 3%;
color: white;
border-radius: 24px;
}

.btn-copiar:hover{
    margin: 2.5%;
    width: 48%;
    padding: 2.8%;
}

.encriptado img{
    position: absolute;
    width: 85%;
    height: 50%;
    top: 12%;
}

/* Responsive design */
@media only screen and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: row;
    }
    .encriptar {
        width: 100%;
    }
    .texto {
        width: 80%;
        height: 65%;
        left: 10%;
        top: 5%;
    }
    .terminos {
        width: 80%;
        left: 10%;
        top: 60%;
    }
    .terminos p {
        font-size: 16px;
    }
    .botones {
        width: 80%;
        left: 10%;
        top: 63%;
    }
    .btn-encriptar, .btn-desencriptar {
        width: 48%;
        border-radius: 16px;

    }
    .btn-encriptar:hover, .btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .encriptado {
        width: 80%;
        height: 25%;
        left: 10%;
        top: 75%;
        justify-content: center;
        
    }
    .mensajeEncriptado {
        width: 100%;
        top: 5%;
        margin: 1px;
    }
    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
    .encriptado h2{
        font-size: 20px;
    }
    .encriptado p{
        font-size: 13px;
    }
    .btn-copiar {
        top: 20%;
    }
  
}